<a href="https://colab.research.google.com/github/StarryWanderer736/sturdy-parakeet/blob/main/Interview_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE interview_q;" > /dev/null 2>&1


    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/interview_q

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/interview_q'

In [ ]:
%%sql
CREATE TABLE website_visits (
    visit_id INT PRIMARY KEY,
    user_id INT,
    visit_timestamp TIMESTAMP,
    page_url VARCHAR(255),
    is_conversion_page BOOLEAN -- True if visiting this page counts as a conversion
);

In [ ]:
%%sql
INSERT INTO website_visits (visit_id, user_id, visit_timestamp, page_url, is_conversion_page) VALUES
(1, 101, '2025-05-05 09:00:00', '/home', FALSE),
(2, 102, '2025-05-05 09:05:00', '/products', FALSE),
(3, 101, '2025-05-05 09:05:15', '/products/widget', FALSE),
(4, 101, '2025-05-05 09:08:30', '/checkout', TRUE),
(5, 102, '2025-05-05 09:10:00', '/about-us', FALSE),
(6, 101, '2025-05-05 09:12:00', '/thank-you', FALSE), -- Visited after conversion
(7, 102, '2025-05-05 09:15:00', '/contact', FALSE),
(8, 102, '2025-05-05 09:18:00', '/cart', TRUE),      -- Conversion for user 102
(9, 101, '2025-05-05 09:20:00', '/home', FALSE),    -- New visit after prior conversion
(10, 102,'2025-05-05 09:22:00', '/products', FALSE)
;

In [ ]:
%sql SELECT * FROM website_visits;

In [ ]:
%%sql
<your sql answer here>
;